@charset "utf-8";
/* CSS Document */

.banner{background:url(../images/pc7.jpg) top center;height:310px;margin-top:1px;}
/*zinavBox*/
.zinavBox{background:#565656;overflow:hidden;}
.zinav{width:1000px;margin:0 auto;}
.zinav li{float:left;width:100px;height:52px;text-align:center;line-height:58px;}
.zinav li a{color:#FFFFFF;font-size:14px;font-weight:bold;line-height:52px;}
.zinav li:hover{background:#009944;}
.currentA{background:#009944;}

/*contentBox*/
.contentBox{background:#f3f3f3;overflow:hidden;padding-bottom:48px;}
.content{width:1000px;margin:0 auto;}
.content h1{color:#009944;font-size:16px;line-height:64px;font-weight:bold;}
.content ul{width:1000px;overflow:hidden;}
.content ul li{width:235px;height:210px;border:#edecec 1px solid;text-align:center;background:#ffffff;float:left;margin:5px;}
.content ul li img{margin-bottom:10px;margin-top:1px;}






